In [1]:
### The numpy where function is a vectorized version of the ternary expression x if confidtion else y.

import numpy as np

In [2]:
xarr = np.array([1.2,2.3,1.5,5.6,3.6])

In [3]:
yarr = np.array([2.4,5.8,3.5,1.6,8.4])

In [4]:
cond = np.array([True,False,True,False,True])

In [5]:
result = [(x if c else y)
         for x,y,c in zip(xarr,yarr,cond)]

In [6]:
result

[1.2, 5.7999999999999998, 1.5, 1.6000000000000001, 3.6000000000000001]

In [7]:
### The The same can be achiveed using 

np.where(cond, xarr, yarr)

array([ 1.2,  5.8,  1.5,  1.6,  3.6])

In [8]:
### The second and third arguments to np.where don't need to be arrays necessarily.
### One or both of them can be scalars
### Lets look at an example

data  = np.random.randn(4,4)

In [9]:
data

array([[-1.0613976 ,  0.80872627, -1.082646  , -1.15164775],
       [-0.0594226 , -1.57633511,  0.47021606,  0.63832912],
       [-0.37041328,  2.02117439, -0.3600967 , -0.11584104],
       [-1.11796719,  0.1941746 , -0.00825546,  1.40062267]])

In [10]:
np.where(data>0, 1, -1)

array([[-1,  1, -1, -1],
       [-1, -1,  1,  1],
       [-1,  1, -1, -1],
       [-1,  1, -1,  1]])

In [11]:
data

array([[-1.0613976 ,  0.80872627, -1.082646  , -1.15164775],
       [-0.0594226 , -1.57633511,  0.47021606,  0.63832912],
       [-0.37041328,  2.02117439, -0.3600967 , -0.11584104],
       [-1.11796719,  0.1941746 , -0.00825546,  1.40062267]])

In [12]:
### Lets try something else

np.where(data>0, 1, data)

array([[-1.0613976 ,  1.        , -1.082646  , -1.15164775],
       [-0.0594226 , -1.57633511,  1.        ,  1.        ],
       [-0.37041328,  1.        , -0.3600967 , -0.11584104],
       [-1.11796719,  1.        , -0.00825546,  1.        ]])

In [13]:
### In the example above, only the positive value are replaced, the negative ones are left untouched.

In [14]:
### Another complicated example

In [15]:
cond1 = np.array([True, False, True, True, True, False])
cond2 = np.array([False, False, True, False, True, True])
result = []
for i in range(6):
    if cond1[i] and cond2[i]:
        result.append(0)
    elif cond1[i]:
        result.append(1)
    elif cond2[i]:
        result.append(2)
    else:
        result.append(3)

In [16]:
result

[1, 3, 0, 1, 0, 2]

In [20]:
### This can be converted into a nested where expression as follows

np.where(cond1 & cond2, 0, np.where(cond1, 1, np.where(cond2, 2, 3)))

### The code here follows the same syntax as np.where(cond, x, y) which is to be read as "x if confidtion(cond) else y".
### In the example above, y is yet another nested where function.

array([1, 3, 0, 1, 0, 2])

In [18]:
### Something to be understood here is that the AND operator doesn't take lists as operands. As you can see below

cond3 = ([True, False, True, True, True, False])
cond4 = ([False, False, True, False, True, True])

In [19]:
np.where(cond3 & cond4, 0,
        np.where(cond3, 1,
                np.where(cond3, 2, 3)))

TypeError: unsupported operand type(s) for &: 'list' and 'list'

In [ ]:
### It gives an error as follows ---> unsupported operand type(s) for &: 'list' and 'list'.
### Hence its better to use numpy arrays in these scenarios

In [ ]:
### Refer alternate-cyptic-syntax to see how it could be done without the use of where function and the rest of the topics